/*
 * Globals
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*
 * Base structure
 */

body {
  
}

/*
 * Header
 */

.banner-wrap {
  background-image: url(./assets/banner.jpeg);
  background-size: cover;
  background-position: middle;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: black;
  position: absolute;
  opacity: 40%;
  top: 0;
  z-index: -1;
}

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
